
*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-style: oblique;
}
html, body{
    background-color: #ddd;
}

header{
    background-color: #8B0000;
    color: #fff;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dsmoviecontact img{
    margin-right:10px;

}

a, a:hover{
    color: unset;
    text-decoration: none;
}

#dsmovielist{
    padding: 40px 0;
}

.dsmoviecard{
    width: 100%;
}

.dsmoviecard img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmoviecard-description{
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}

.dsmoviecard-description h3{
    margin-bottom: 25px;
    font-weight: 700px;
    font-size: 14px;
    text-align: center;
}

.dsmoviebutton, .dsmoviebutton:hover{
    width: 180px;
    height: 40px;
    background-color: #8B0000;
    color: #fff;
    font-size: 14px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
