
*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-style: oblique;
}
html, body{
    background-color: #ddd;
}

header{
    background-color: #4B0082;
    color: #fff;

}

.dsmoviecontact img{
    margin-right:10px;

}

a, a:hover{
    color: unset;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
